@import './setup.scss';
@import './variable';

html {
  font-size: 62.5%;
}

body{
  background-color: $background;
  font-family: 'Merriweather Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

input, button { border:none; }

button {
  background: $button-primary;
  color: white;
  white-space: nowrap;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 4rem;
  font-family: 'Chonburi', cursive;
  text-transform: uppercase;
}
.App {
  text-align: center;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  .description {
    font-size: 1.5rem;
  }
  .movieGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.searchOptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 320px;
    font-size: 2rem;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 15px;
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 2rem;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 10px;
  }
}



.movieOptionContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 10px;
  background-color: $votes;
  color: $voteFont;
  .imgAndLikes {
    display: flex;
    flex-direction: column;
  }

  .votes{
    font-size: 1.3rem;
    margin: 7px 0;
  }

  .likeAndDislike {
    display: flex;
    .like, .dislike {
      flex: 1 0 20px;
      height: 30px;
    }

    .like{
      background-color: $like;
    }

    .dislike{
      background-color: $dislike;
    }

    .like:hover, .like:focus, .dislike:hover, .dislike:focus {
      background-color: white;
      color: black;
    }

  }

}

.resultsContainer {
  .searchMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

    .message {
      font-size: 1.5rem;
      margin: 0;
      margin-right: 10px;
    }

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      width: 30px;
      height: 30px;
      border-radius: 10px;
      transition: all 0.3s;
    }

    .close:hover, .close:focus {
      background-color: white;
      color: black;
    }

  }
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movieResult {
  background-color: #3d3d3d;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  height: 250px;
  width:150px;
  border-radius: 10px;
}

.movieResult, .movieOptionContainer {
  /*credit https://codepen.io/sdthornton/pen/wBZdXq*/
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   border-radius: 10px;
   overflow: hidden;
}


.movieImg, .resultPoster {
  width: 150px;
    img {
        height: 225px;
        margin: auto;
        }
      }

.addToList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
}

.like, .dislike, .addToList {
  transition: all 0.3s;
}



.addToList:hover, .addToList:focus {
  background-color: white;
  color: black;
}