@import './setup.scss';
@import './variable';

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  padding: 0;
}

input, button { border:none; }

button {
  background: #1E88E5;
  color: white;
  white-space: nowrap;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.App {
  text-align: center;
  .movieGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.addOptionContainer {
  display: flex;
  justify-content: center;

}

.movieOptionContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0 10px;
  .imgAndVotes {
    display: flex;
    flex-direction: column;
  }
  .likeAndDislike {
    display: flex;
    .like, .dislike {
      flex: 1 0 20px;
      height: 30px;
    }
    .like:hover,.like:focus {
      background-color: green;
    }

    .dislike:hover, .dislike:focus {
      background-color: red;
    }
  }

}

.resultsContainer {
  .searchMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

    .message {
      margin: 0;
      margin-right: 10px;
    }

    .close {
      width: 30px;
      height: 30px;
    }
  }
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movieResult {
  background-color: #3d3d3d;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  height: 245px;
  width:150px;
}

.movieImg, .resultPoster {
  width: 150px;
    img {
        max-height: 225px;
        margin: auto;
        }
      }

.addToList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}